<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
    <%- include('headerBasicCss.ejs'); %>
    <%- include('headerFontsAwsome.ejs'); %>
    <%- include('headerGoogleFont.ejs'); %>
    <link rel="stylesheet" type="text/css" href="css/home.css"/>
    <script type="text/javascript" href="js/home.js"></script>
</head>
<body>
    <%- include('bodyHeaderFooter/bodyHeader.ejs'); %>
    <%- include('homeSection/homeSection_1.ejs'); %>
    <%- include('homeSection/homeSection_2.ejs'); %>
    <%- include('homeSection/homeSection_3.ejs'); %>
    <%- include('homeSection/homeSection_4.ejs'); %>
    <%- include('homeSection/homeSection_5.ejs'); %>
    <%- include('homeSection/homeSection_6.ejs'); %>
    <%- include('bodyHeaderFooter/bodyFooter.ejs'); %>
    <%- include('homeSection/homeSection_8_js.ejs'); %>
</body>
</html>