<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
    <%- include('headerBasicCss.ejs'); %>
    <%- include('headerFontsAwsome.ejs'); %>
    <%- include('headerGoogleFont.ejs'); %>
</head>
<body>
<%- include('bodyHeader.ejs'); %>
<%- include('bodyFooter.ejs'); %>
</body>
</html>