<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%> </title>
    <%- include('header/headerBasicCss.ejs'); %>
    <%- include('header/headerFontsAwsome.ejs'); %>
    <%- include('header/headerGoogleFont.ejs'); %>
</head>
<body>
<%- include('bodyHeaderFooter/bodyHeader.ejs'); %>
<%- include('bodyHeaderFooter/bodyHeaderUnder.ejs'); %>
<%- include('bodyHeaderFooter/bodyFooter.ejs'); %>
</body>
</html>