<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%> </title>
    <%- include('headerBasicCss.ejs'); %>
    <%- include('headerFontsAwsome.ejs'); %>
    <%- include('headerGoogleFont.ejs'); %>
</head>
<body>
<%- include('bodyHeaderFooter/bodyHeader.ejs'); %>
<%- include('bodyHeaderFooter/bodyHeaderUnder.ejs'); %>
<h1>Hello</h1>
<%- include('bodyHeaderFooter/bodyFooter.ejs'); %>
</body>
</html>